.container{
    display: flex;
    align-items: flex-start;
    min-height: 1000px;
    width: 100%;
}
.container img{
    width: 300px;
    padding: 15px 25px;
    background-color: #fff;
    border: 2px dashed #fe5d42;
    margin: 10px;
    margin-right: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.information{
    width: 100%;
    border: 2px dashed #e2e2e2;
    margin: 10px;
    padding: 25px;
    border-radius: 50px;

}
.information h3{
    color: #fe5d42;
    font-size: 1.5rem;
    margin-bottom: 40px;
}
.description{
    color: grey;
    width: 500px;
    font-size: 1.1rem;
    margin-bottom: 40px;

}
.category{
    margin-bottom: 10px;
}
.category svg, .information span svg {
    color: #fe5d42;
    margin-right: 10px;
}
.information div{
    display: flex;
    justify-content: space-between;
}
.information a{
    display: flex;
    align-items: center;
    background-color: #fe5d42;
    padding:  5px 10px;
    color: #fff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.information a svg{
    margin-right: 10px;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        flex-wrap: wrap;
        align-items: center;
     
    }

    .container img {
        margin-right: 0; 
        margin-bottom: 30px;
    }

    .information {
        margin:0 auto;
    }
    .information div {
        flex-direction: column; /* چیدمان عمودی در اطلاعات */
        align-items: center;
    }

    .description {
        text-align: center; /* متن در مرکز */
        width: unset;
    }
}

@media (max-width: 480px) {
    .container img {
        max-width: 80%; 
    }

    .information {
        padding: 15px; /* کاهش فاصله داخلی */
    }

    .information h3 {
        font-size: 1.2rem; /* کاهش اندازه عنوان */
    }

    .description {
        font-size: 0.9rem; /* کاهش اندازه متن توضیحات */
    }

    .information a {
        font-size: 0.9rem; /* کاهش اندازه لینک */
        padding: 5px; /* کاهش فضای داخلی لینک */
    }
}