.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fe5d42;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px 60px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.header a{
    font-size: 1.5rem;
    font-weight: 600;
}
.header div{
    font-size: 1.6rem;
    background-color: #fff;
    text-align: center;
    color: #fe5d42;
    height: 35px;
    width: 35px;
    position: relative;
    padding: 2px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}
.header span {
    font-size: 0.9rem;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #000;
    color: #fff;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.footer{
    text-align: center;
    background-color: #fe5d42;
    padding: 20px;
    margin: 10px;
    margin-top: 80px;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}